* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(245, 196, 152);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  height: 80%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  perspective: 1000px;
}

.card {
  width: 90%;
  height: 90%;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .1s;
}

.card:active {
  transform: scale(0.97);
  transition: transform .5s;
}

.card.flip {
  transform: rotateY(180deg);
}

.default,
.flipped {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flipped {
  transform: rotateY(180deg);
}

button {
  width: 15vh;
  height: 5vh;
  background-color: rgb(53, 133, 254);
  color: rgb(255, 255, 255);
  font-family: "Helvetica";
  font-size: 2vh;
}
