:root {
  --bg-color: rgb(245, 196, 152);
  --txt-color: rgb(255, 255, 255);
  --btn-color: rgb(123, 36, 249);
  --font-family: "Helvetica";
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-family: var(--font-family);
  font-size: 5vw;
}

.board {
  height: 80%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  perspective: 1000px;
}

.card {
  width: 90%;
  height: 90%;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .1s;
}

.card:active {
  transform: scale(0.97);
  transition: transform .5s;
}

.card.flip {
  transform: rotateY(180deg);
}

.back,
.front {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}

button {
  width: 10vw;
  height: 5vh;
  background-color: var(--btn-color);
  color: var(--txt-color);
  font-family: var(--font-family);
  font-size: 1.5vw;
}

button:hover {
  cursor: pointer;
  background-color: rgb(73, 47, 161);
}
